nav{
  background-color: rgba(25,234,123,0.4);
}

section > div.shell{
  margin-top: 13em;
}

article.testimonials{
  margin-bottom: 3em;
}

.want-bg{
  background-image: url("../images/AdobeStock_82132782.jpeg");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  background-blend-mode: screen;
}

.needsToMoveMuchLower{
  position: relative;
  top: 25em;
}