body{
  font-family: 'migrena_grotesquelight';
}

strong{
  font-family: 'migrena_grotesqueblack';
}

em{
  font-family: 'migrena_grotesquelight_italic';
}

.page-loader,.logo{
  font-family: 'minimobold';
}

nav{
  background-color: rgba(25,234,123,0.4);
}

section > div.shell{
  margin-top: 13em;
}
section > div.shell.closeUpTop{
  margin-top: 1em;
}
article.testimonials{
  margin-bottom: 3em;
}

.want-bg{
  background-image: url("../images/AdobeStock_82132782.jpeg");
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  background-blend-mode: screen;
}
.spaceAboveAndBelow{
  margin: 3em 0em;
}
.needsToMoveMuchLower{
  position: relative;
  top: 25em;
}