nav{
  background-color: rgba(25,234,123,0.4);
}

section > div.shell{
  margin-top: 13em;
}

article.testimonials{
  margin-bottom: 3em;
}

nav{
  background-color: rgba(255,255,255,0.75) !important;
}

.want-bg{
  background-image: url("../images/AdobeStock_82132782.jpeg");
  background-size: cover;
}

.needsToMoveMuchLower{
  position: relative;
  top: 25em;
}