<!-- Page Contents-->
<main class="page-content">
    <!-- Post a Job in Minutes-->
    <section class="section-98 section-sm-110">
        <div class="shell">
            <h1>Post an application to us in Minutes!</h1>
            <hr class="divider bg-darkers">
            <div class="range range-xs-center offset-top-66">
                <div class="cell-md-10 cell-lg-7">
                    <p>If you wish, you may instead send a cover letter, personal stats, and resume to: spouse@mimic.love</p>
                </div>
            </div>
            <div class="range range-xs-center offset-top-0">
                <div class="cell-sm-10">
                    <!-- RD Mailform-->
                    <form method="post" action="../api/message" class="rd-mailform text-left offset-top-50">
                        <div class="range">

                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-firstName" class="form-label form-label-outside text-sbold">First Name</label>
                                    <input id="apply-firstName" type="text" name="firstName" data-constraints="@Required @Email" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-lastName" class="form-label form-label-outside text-sbold">Last Name</label>
                                    <input id="apply-lastName" type="text" name="lastName" data-constraints="@Required" class="form-control">
                                </div>
                            </div>

                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-email" class="form-label form-label-outside text-sbold">Your Email</label>
                                    <input id="apply-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-gender" class="form-label form-label-outside text-sbold">Gender</label>
                                    <select id="apply-gender" data-placeholder="Select an option" data-minimum-results-for-search="Infinity" class="form-control">
                                        <option>Female</option>
                                        <option>Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-location" class="form-label form-label-outside text-sbold">Location </label>
                                    <input id="apply-location" type="text" name="location" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-zip" class="form-label form-label-outside text-sbold">Zip Code or Postal Code</label>
                                    <input id="apply-zip" type="text" name="zip" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-category" class="form-label form-label-outside text-sbold">Job Category</label>
                                    <select id="apply-category" data-placeholder="Select an option" name="jobCategory" data-minimum-results-for-search="Infinity" class="form-control">
                                        <option>Any</option>
                                        <option>Companionship and Friendship</option>
                                        <option>Hugging and Cuddling</option>
                                        <option>Kissing and Cuddling</option>
                                        <option>Professional Spouse</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-startDate" class="form-label form-label-outside text-sbold">Date You Can Start Work?</label>
                                    <input id="apply-startDate" type="date" name="startDate" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-lg-12 offset-top-30 offset-md-top-20">
                                <div class="form-group">
                                    <label for="apply-coverLetter" class="form-label form-label-outside text-sbold">Cover Letter</label>
                                    <textarea id="apply-coverLetter" name="coverLetter" data-constraints="@Required" style="height: 179px;" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="cell-lg-12 offset-top-30 offset-md-top-20">
                                <div class="form-group">
                                    <label for="apply-resume" class="form-label form-label-outside text-sbold">Resume (or link to resume)</label>
                                    <textarea id="apply-resume" name="resume" data-constraints="@Required" style="height: 179px;" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-minimum-rate" class="form-label form-label-outside text-sbold">Minimum Rate/h ($) <span class="text-muted">(optional)</span></label>
                                    <input id="apply-minimum-rate" type="text" name="minimum-rate" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-maximum-rate" class="form-label form-label-outside text-sbold">Maximum Rate/h ($) <span class="text-muted">(optional)</span></label>
                                    <input id="apply-maximum-rate" type="text" name="maximum-rate" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>

                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="apply-hours" class="form-label form-label-outside text-sbold">Hours per week?</label>
                                    <input id="apply-hours" type="text" name="hours" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="group group-xl offset-top-30 text-center text-md-left">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>