<!-- Page Contents-->
<main class="page-content">
    <div>
        <a ui-sref="apply" class="btn  btn-info">Apply to be a spouse.</a>
    </div>
    <!-- Search Engine-->
    <section class="section-top-34 section-bottom-66 bg-primary">
        <div class="shell">
            <form class="range offset-top-10 offset-sm-top-30">
                <div class="cell-lg-10">
                    <div class="group-sm group-top">
                        <div style="max-width: 324px;" class="group-item element-fullwidth">
                            <div class="form-group">
                                <label for="keywords-search-form-input" class="form-label rd-input-label">Keywords</label>
                                <input id="keywords-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div style="max-width: 324px;" class="group-item element-fullwidth">
                            <div class="form-group">
                                <label for="location-search-form-input" class="form-label rd-input-label">Location</label>
                                <input id="location-search-form-input" type="text" name="s" autocomplete="off" class="form-control">
                            </div>
                        </div>
                        <div style="max-width: 324px;" class="group-item element-fullwidth">
                            <div class="form-group">
                                <select id="form-filter-location" name="location" data-minimum-results-for-search="Infinity" class="form-control">
                                    <option value="1">Any Category</option>
                                    <option value="2">New York</option>
                                    <option value="3">Missouri</option>
                                    <option value="4">Los Angeles</option>
                                </select>
                            </div>
                        </div>
                        <div class="group-item element-fullwidth">
                            <div class="form-group offset-top-20 text-lg-left">
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-1" type="checkbox" checked>Freelance
                                </label>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" checked>Full Time
                                </label>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" checked>Internship
                                </label>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" checked>Part Time
                                </label>
                                <label class="checkbox-inline">
                                    <input name="input-group-radio" value="checkbox-2" type="checkbox" checked>Temporary
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-2">
                    <div class="reveal-block reveal-lg-inline-block">
                        <button type="button" style="max-width: 170px; min-width: 170px; min-height: 50px;" class="btn btn-warning element-fullwidth">Find Job</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Table-->
    <section class="section-top-50 section-bottom-124">
        <div class="shell">
            <!-- Bootstrap Table-->
            <div class="table-responsive clearfix">
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th class="text-regular text-dark big">Date</th>
                        <th class="text-regular text-dark big">Company</th>
                        <th class="text-regular text-dark big">Job Vacancy</th>
                        <th class="text-regular text-dark big">City</th>
                        <th class="text-regular text-dark big">Salary</th>
                        <th class="text-regular text-dark big">Employment</th>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-fire text-danger"></span></th>
                        <td>11.05.2016, 4:16pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-01-45x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Head Manager</a></td>
                        <td>New York</td>
                        <td>$6000</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-fire text-danger"></span></th>
                        <td>06.02.2016, 2:54pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-02-50x40.png" width="50" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Head Manager</a></td>
                        <td>San Diego</td>
                        <td>$4000</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-airplane text-neon-carrot"></span></th>
                        <td>18.01.2016, 2:42pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-03-40x40.png" width="40" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Front End Developer</a></td>
                        <td>Seattle</td>
                        <td>$6000</td>
                        <td>Part time</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>13.04.2016, 2:54pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-04-76x40.png" width="76" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">JS Developer</a></td>
                        <td>Miami</td>
                        <td>$7000</td>
                        <td>Part time</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-01-45x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Web Designer</a></td>
                        <td>Philadelphia</td>
                        <td>$4000</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-fire text-danger"></span></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-02-50x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Journalist</a></td>
                        <td>Dallas</td>
                        <td>$2000</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-fire text-danger"></span></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-03-40x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Director of Photography</a></td>
                        <td>Chicago</td>
                        <td>$2500</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th><span class="icon icon-xxs mdi mdi-airplane text-neon-carrot"></span></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-04-76x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Bus Driver</a></td>
                        <td>Washington</td>
                        <td>$3500</td>
                        <td>Full time</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-01-45x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Coach</a></td>
                        <td>Boston</td>
                        <td>$3000</td>
                        <td>Part time</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>18.05.2016, 4:32pm</td>
                        <td><a href="your-career-starts-here.html"><img src="images/partner-02-50x40.png" width="45" height="40" alt="" class="img-semi-transparent-inverse"></a></td>
                        <td class="text-bold text-primary p"><a href="project-managers.html">Writer</a></td>
                        <td>New Orleans</td>
                        <td>$2000</td>
                        <td>Part time</td>
                    </tr>
                </table>
            </div>
            <div>
                <a ui-sref="apply" class="btn  btn-info">Apply to be a spouse.</a>
            </div>
        </div>
    </section>
</main>