

<!-- Page Contents-->
<main class="page-content">

  <!-- RD Parallax-->
  <div class="bg-gray-base context-dark want-bg">
    <!-- RD Parallax-->
    <div data-on="false" data-md-on="true" class="rd-parallax">
      <div class="section-cover">
        <div data-speed="1" data-type="media" data-url="images\AdobeStock_82132782.jpeg" class="rd-parallax-layer"></div>
        <div data-speed="0.75" data-type="html" data-md-offset="110px" class="rd-parallax-layer needsToMoveMuchLower">
          <div class="shell offset-top-124 offset-md-top-0">
            <div class="section-xs-top-50 section-sm-top-66 section-md-top-0">
              <div></div>
              <h1 class="text-uppercase"><span class="big">For release in mid-2017<br/>Hug and kiss a significant someone...<br /> by the significant hour.</span></h1>
            </div>
          </div>
        </div>
        <div data-caption-animate="fadeInUp" data-caption-delay="900" data-speed="0.333" data-type="html" data-md-offset="134px" data-lg-offset="137px" data-xl-offset="147px" class="rd-parallax-layer needsToMoveMuchLower">
          <div class="context-dark">
            <div class="shell">
              <div class="range">
                <div class="range range-xs-middle range-xs-center section-30 section-md-0">
                  <div class="range range-xs-center">
                    <div class="cell-xs-10 spaceAboveAndBelow">
                      <div class="offset-top-20">
                        <h4 class="text-light">
                          We are redefining the way people will interact in the future.
                          Join our mailing list so that we can let you know when we're ready!
                        </h4>
                      </div>
                    </div>
                    <div>
                      <div class="cell-xs-10 cell-md-5 cell-md-push-2">
                        </div>
                        <div class="offset-top-30">
                          <div class="inset-lg-right-93">

                            <!-- Begin MailChimp Signup Form HIGHLY CUSTOMIZED ASK BOSS BEFORE CHANGING!!! -->
                            <div id="mc_embed_signup">
                              <form class="rd-mailform" data-form-output="form-subscribe-footer" data-form-type="subscribe" action="//love.us13.list-manage.com/subscribe/post?u=785bda0de0d2b8eb9d030b682&amp;id=41c0ca4ae4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll" class="form-group">

                                  <div class="mc-field-group input-group input-group-sm">
                                    <span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
                                    <input data-constraints="@Required @Email" class="form-control" placeholder="Type your E-Mail" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-primary">Subscribe</button>
                            </span>
                                  </div>
                                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_785bda0de0d2b8eb9d030b682_41c0ca4ae4" tabindex="-1" value=""></div>
                                  <div class="clear"></div>
                                </div>
                                <div id="form-subscribe-footer" class="form-output"></div>
                              </form>
                            </div>

                            <!--End mc_embed_signup-->

                          </div>
                        </div>
                      </div>
                      <div class="spaceAboveAndBelow">
                        <p><a ui-sref="apply" class="btn  btn-primary"><span class="glyphicon glyphicon-hand-right"></span>Apply to be a spouse.</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Choose Your Plan-->
  <section class="section-98 section-sm-110">
    <div class="shell">
      <h1>Choose Your Comfort</h1>
      <div class="divider bg-mantis"></div>
      <div class="range range-xs-bottom offset-top-41 range-sm-center">
        <div class="cell-md-3">
          <!-- Planning Box type 4-->
          <div class="box-planning box-planning-type-4">
            <div class="box-planning-header context-dark bg-mantis">
              <div class="box-planning-label">
                <p class="big text-bold">Most Popular</p>
              </div>
              <h3>Friendship and Companionship</h3>
              <p class="h2 plan-price"><sup class="big">$</sup>20<sub class="text-white">/hour</sub></p>
              <p class="h2 plan-price"><sup class="big">$</sup>120<sub class="text-white">/day</sub></p>
            </div>
            <div class="box-planning-body">
              <ul class="list-separated list-unstyled">
                <li><span class="text-bold">Genuine</span><span class="text-dark">community</span></li>
              </ul><a ui-sref="postjob" ref="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
            </div>
          </div>
        </div>
        <div class="cell-md-3">
          <!-- Planning Box type 4-->
          <div class="box-planning box-planning-type-4">
            <div class="box-planning-header context-dark bg-malibu">
              <div class="box-planning-label">
                <p class="big text-bold">Most Popular</p>
              </div>
              <h3>Hugging and Cuddling</h3>
              <p class="h2 plan-price"><sup class="big">$</sup>80<sub class="text-white">/hour</sub></p>
              <p class="h2 plan-price"><sup class="big">$</sup>500<sub class="text-white">/day</sub></p>
            </div>
            <div class="box-planning-body">
              <ul class="list-separated list-unstyled">
                <li><span class="text-bold">Pure</span><span class="text-dark">comfort</span></li>
              </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
            </div>
          </div>
        </div>
        <div class="cell-md-3">
          <!-- Planning Box type 4-->
          <div class="box-planning box-planning-type-4">
            <div class="box-planning-header context-dark bg-saffron">
              <div class="box-planning-label">
                <p class="big text-bold">Most Popular</p>
              </div>
              <h3>Intimate Kissing and Cuddling</h3>
              <p class="h2 plan-price"><sup class="big">$</sup>100<sub class="text-white">/hour</sub></p>
              <p class="h2 plan-price"><sup class="big">$</sup>800<sub class="text-white">/day</sub></p>
            </div>
            <div class="box-planning-body">
              <ul class="list-separated list-unstyled">
                <li><span class="text-bold">Intimate</span><span class="text-dark">connection</span></li>
              </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
            </div>
          </div>
        </div>
        <div class="cell-md-3">
          <!-- Planning Box type 4-->
          <div class="box-planning box-planning-type-4">
            <div class="box-planning-header context-dark bg-red">
              <div class="box-planning-label">
                <p class="big text-bold">Most Popular</p>
              </div>
              <h3>Professional Spouse</h3>
              <p class="h2 plan-price"><sup class="big">$</sup>120<sub class="text-white">/hour</sub></p>
              <p class="h2 plan-price"><sup class="big">$</sup>1000<sub class="text-white">/day</sub></p>
            </div>
            <div class="box-planning-body">
              <ul class="list-separated list-unstyled">
                <li><span class="text-bold">Domestic</span><span class="text-dark">connection</span></li>
              </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>