<!-- Page Contents-->
<main class="page-content">
    <!-- Post a Job in Minutes-->
    <section class="section-98 section-sm-110">
        <div class="shell">
            <h1>Post a Job in Minutes</h1>
            <hr class="divider bg-darkers">
            <div class="range range-xs-center offset-top-66">
                <div class="cell-md-10 cell-lg-7">
                    <p>Have an account? If you don’t have an account you can create one below by entering your email address/username. Your account details will be confirmed via email.</p>
                </div>
            </div>
            <div class="range range-xs-center offset-top-0">
                <div class="cell-sm-10">
                    <!-- RD Mailform-->
                    <form data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php" class="rd-mailform text-left offset-top-50">
                        <div class="range">
                            <div class="cell-md-6">
                                <div class="form-group">
                                    <label for="post-job-email" class="form-label form-label-outside text-sbold">Your Email</label>
                                    <input id="post-job-email" type="email" name="email" data-constraints="@Required @Email" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30 offset-md-top-0">
                                <div class="form-group">
                                    <label for="post-job-last-name" class="form-label form-label-outside text-sbold">Job Title</label>
                                    <input id="post-job-last-name" type="text" name="title" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-location" class="form-label form-label-outside text-sbold">Location <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-location" type="text" name="location" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-type" class="form-label form-label-outside text-sbold">Job Type</label>
                                    <select id="post-job-type" data-placeholder="Select an option" data-minimum-results-for-search="Infinity" class="form-control">
                                        <option>Full Time</option>
                                        <option>Part Time</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-category" class="form-label form-label-outside text-sbold">Job Category</label>
                                    <input id="post-job-category" type="text" name="category" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-tags" class="form-label form-label-outside text-sbold">Job Tags <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-tags" type="text" name="tags" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-lg-12 offset-top-30 offset-md-top-20">
                                <div class="form-group">
                                    <label for="contact-me-message" class="form-label form-label-outside text-sbold">Description</label>
                                    <textarea id="contact-me-message" name="description" data-constraints="@Required" style="height: 179px;" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-application" class="form-label form-label-outside text-sbold">Application Email/URL</label>
                                    <input id="post-job-application" type="text" name="application" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-minimum-rate" class="form-label form-label-outside text-sbold">Minimum Rate/h ($) <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-minimum-rate" type="text" name="minimum-rate" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-maximum-rate" class="form-label form-label-outside text-sbold">Maximum Rate/h ($) <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-maximum-rate" type="text" name="maximum-rate" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-minimum-salary" class="form-label form-label-outside text-sbold">Minimum Salary ($) <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-minimum-salary" type="text" name="minimum-salary" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-maximum-salary" class="form-label form-label-outside text-sbold">Maximum Salary ($) <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-maximum-salary" type="text" name="maximum-salary" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-hours" class="form-label form-label-outside text-sbold">Hours per week <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-hours" type="text" name="hours" data-constraints="@Required @IsNumeric" class="form-control">
                                </div>
                            </div>
                            <div class="cell-lg-12 offset-top-41">
                                <h4>Company Details</h4>
                                <div>
                                    <hr class="hr bg-gray">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-company-name" class="form-label form-label-outside text-sbold">Company Name</label>
                                    <input id="post-job-company-name" type="text" name="company-name" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-website" class="form-label form-label-outside text-sbold">Website <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-website" type="text" name="website" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-video" class="form-label form-label-outside text-sbold">Video <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-video" type="text" name="video" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                            <div class="cell-md-6 offset-top-30">
                                <div class="form-group">
                                    <label for="post-job-tagline" class="form-label form-label-outside text-sbold">Tagline <span class="text-muted">(optional)</span></label>
                                    <input id="post-job-tagline" type="text" name="tagline" data-constraints="@Required" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="group group-xl offset-top-30 text-center text-md-left"><a href="#" class="btn btn-primary btn-transparent">Download logo</a>
                            <button type="submit" class="btn btn-primary">Preview</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>