
<!-- Page Content-->
<main class="page-content">
    <!-- What we do-->
    <section class="section-98 section-sm-110">
        <div class="shell">
            <h1>What we do for you</h1>
            <hr class="divider bg-mantis">
            <p class="inset-left-11p inset-right-11p">
                We provide a platform for interested parties to meet and comfort one another in a professional way.
            </p>
            <div class="range offset-top-66">
                <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-cellphone-link"></span>
                    <div>
                        <h4 class="text-bold offset-top-20">Ready-made Platform for our Comforters.</h4>
                        <p>We handle the details, while you may conduct business easily.</p>
                    </div>
                </div>
                <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-airballoon"></span>
                    <div>
                        <h4 class="text-bold offset-top-20">Social Integration for our Clients</h4>
                        <p>
                            Comforters are good for you! Much like any other soothing behavior, they help smooth the
                            edges and teach social skill when necessary.
                        </p>
                    </div>
                </div>
                <div class="cell-sm-8 cell-sm-preffix-2 cell-md-4 cell-md-preffix-0 offset-top-66 offset-md-top-0">
                    <!-- Icon Box Type 4--><span class="icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-account-key"></span>
                    <div>
                        <h4 class="text-bold offset-top-20">Peace of Mind for both Spouses and Clients</h4>
                        <p>
                            The business is handled, thereafter both may focus on the connection.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choose Your Plan-->
    <section class="section-98 section-sm-110">
        <div class="shell closeUpTop">
            <h1>Choose Your Comfort</h1>
            <div class="divider bg-mantis"></div>
            <div class="range range-xs-bottom offset-top-41 range-sm-center">
                <div class="cell-md-3">
                    <!-- Planning Box type 4-->
                    <div class="box-planning box-planning-type-4">
                        <div class="box-planning-header context-dark bg-mantis">
                            <div class="box-planning-label">
                                <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Friendship and Companionship</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>20<sub class="text-white">/hour (min 3 hours)</sub></p>
                            <p class="h2 plan-price"><sup class="big">$</sup>200<sub class="text-white">/day</sub></p>
                        </div>
                        <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                                <li><span class="text-bold">Genuine</span><span class="text-dark">community</span></li>
                            </ul><a ui-sref="postjob" ref="register.html" class="btn btn-block btn-default btn-rect">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="cell-md-3">
                    <!-- Planning Box type 4-->
                    <div class="box-planning box-planning-type-4">
                        <div class="box-planning-header context-dark bg-malibu">
                            <div class="box-planning-label">
                                <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Hugging and Cuddling</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>80<sub class="text-white">/hour (min 3 hours)</sub></p>
                            <p class="h2 plan-price"><sup class="big">$</sup>500<sub class="text-white">/day</sub></p>
                        </div>
                        <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                                <li><span class="text-bold">Pure</span><span class="text-dark">comfort</span></li>
                            </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="cell-md-3">
                    <!-- Planning Box type 4-->
                    <div class="box-planning box-planning-type-4">
                        <div class="box-planning-header context-dark bg-saffron">
                            <div class="box-planning-label">
                                <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Intimate Kissing and Cuddling</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>100<sub class="text-white">/hour (min 3 hours)</sub></p>
                            <p class="h2 plan-price"><sup class="big">$</sup>800<sub class="text-white">/day</sub></p>
                        </div>
                        <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                                <li><span class="text-bold">Intimate</span><span class="text-dark">connection</span></li>
                            </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="cell-md-3">
                    <!-- Planning Box type 4-->
                    <div class="box-planning box-planning-type-4">
                        <div class="box-planning-header context-dark bg-red">
                            <div class="box-planning-label">
                                <p class="big text-bold">Most Popular</p>
                            </div>
                            <h3>Professional Spouse</h3>
                            <p class="h2 plan-price"><sup class="big">$</sup>120<sub class="text-white">/hour (min 3 hours)</sub></p>
                            <p class="h2 plan-price"><sup class="big">$</sup>1000<sub class="text-white">/day</sub></p>
                        </div>
                        <div class="box-planning-body">
                            <ul class="list-separated list-unstyled">
                                <li><span class="text-bold">Domestic</span><span class="text-dark">connection</span></li>
                            </ul><a ui-sref="postjob" class="btn btn-block btn-default btn-rect">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>